@inherits LayoutComponentBase

<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for=@Id class="col-form-label">@Text</label>
    </div>
    <div class="col-auto">
        <input class="form-control" id=@Id value=@OriginalValue @oninput="OnInputChanged">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" @onclick="ButtonClickedAsync" @onclick:preventDefault disabled=@Disabled>Set</button>
    </div>
</div>

@code {

    //--- Properties ---

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string OriginalValue { get; set; }

    [Parameter]
    public string CurrentValue { get; set; }

    [Parameter]
    public EventCallback<string> OnValueChange { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private bool Disabled => CurrentValue == OriginalValue;

    //--- Methods ---
    private void OnInputChanged(ChangeEventArgs args) {
        CurrentValue = (string)args.Value;
        OnValueChange.InvokeAsync(CurrentValue);
    }

    private async Task ButtonClickedAsync() => await OnClick.InvokeAsync(CurrentValue);
}