@page "/style-labels"

@inject IRadiancePro Client

<h1>CMS Labels</h1>

<form>
    <fieldset disabled=@Disabled>
        @for(var style = RadianceProStyle.Style0; style <= RadianceProStyle.Style7; ++style) {
            var localStyle = style;
            <div class="mb-3">
                <Label
                    Id=@localStyle.ToString()
                    Text=@($"Style {(int)localStyle} Label")
                    OriginalValue=@GetOriginalLabel(localStyle)
                    CurrentValue=@GetCurrentLabel(localStyle)
                    OnValueChange=@(value => CurrentLabels[localStyle] = value)
                    OnClick="@(async () => await UpdateStyleAsync(localStyle))"
                />
            </div>
        }
    </fieldset>
</form>

@code {

    //--- Properties ---
    protected Dictionary<RadianceProStyle, string> OriginalLabels = new Dictionary<RadianceProStyle, string>();
    protected Dictionary<RadianceProStyle, string> CurrentLabels = new Dictionary<RadianceProStyle, string>();
    protected bool Disabled { get; set; } = true;

    //--- Methods ---
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        // read all style labels from device
        for(var style = RadianceProStyle.Style0; style <= RadianceProStyle.Style7; ++style) {
            var label = await Client.GetStyleLabelAsync(style);
            CurrentLabels[style] = label;
            OriginalLabels[style] = label;
        }
        Disabled = false;
    }

    private async Task UpdateStyleAsync(RadianceProStyle style) {
        var label = CurrentLabels[style];
        await Client.SetStyleLabelAsync(style, label);
        label = await Client.GetStyleLabelAsync(style);
        CurrentLabels[style] = label;
        OriginalLabels[style] = label;
    }

    private string GetOriginalLabel(RadianceProStyle style)
        => OriginalLabels.TryGetValue(style, out var value)
            ? value
            : "(loading...)";

    private string GetCurrentLabel(RadianceProStyle style)
        => CurrentLabels.TryGetValue(style, out var value)
            ? value
            : "(loading...)";
}
